<br>
<br>
<h1>Create a user</h1>

<%= form_for @user do |a| %>
  Name: <%= a.text_field :name %>
  Email: <%= a.text_field :email %>
  Password: <%= a.text_field :password %>
  Password confirmation: <%= a.text_field :password_confirmation %>
  <%= a.submit "add user"%>
<% end %>
