<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<div class="page-header">
  <h1><%= @post.title %><br>
    <br><small><%= @post.body %></small>
  </h1>
</div>






 <div>
   <%= form_for [@post, Comment.new] do |f| %>
   <%= f.label :body, "New Comment" %>
   <%= f.text_area :body %>
   <%= f.submit "Submit Comment" %>
   <% end %>
 </div>
 <br>
