<h1>Posts#show</h1>
<p>Find me in app/views/posts/show.html.erb</p>
<div class="page-header">
  <h1><%= @post.title %><br>
    <br><small><%= @post.body %></small>
  </h1>
</div>
<ul class="list-group">
  <li class="list-group-item">
    <% @post.comments.each do |c| %>
      <span class="badge">
        <%if c.user %>
          Created by: <%= c.user.name %>
        <%else%>
          Created by: Anonymous
        <%end%>   <!-- end for if -->
      </span>
      <p><%= c.body %></p>
    <% end %> <!-- end for @post.comments.each -->
  </li>
</ul>

 <div>
   <%= form_for [@post, Comment.new] do |f| %>
     <%= f.label :body, "New Comment" %>
     <%= f.text_area :body %>
     <%= f.submit "Submit Comment" %>
   <% end %>
 </div>
 <%= link_to(" Back to the list of posts",  posts_path)%>
 <br>
