<!DOCTYPE html>
<html>
<head>
  <title>KnowMe</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">KnowMe</a>
      </div>
    </div>
  </nav>
  render <%= 'break_top' %>
  <div class="container">
    <%= yield %>
  </div>
<div class="container">
  <footer>
    <p>&copy; KnowMe 2015</p>
    <!-- ****code for current_user login/logout*** -->
  <% if current_user %>
    <% flash.each do |name, message| %>
    <div class="flash-message flash-message-<%= name %>">
      <div class="alert alert-success" role="alert">
        <%= message %>
        <p>Hello, <%= current_user.email %></p>
        <%= link_to 'Logout', session_path(session), method: :delete%>
      </div>
    </div>
    <% end %> <!-- end for flash.each -->
  <%else%>
    <%= link_to "Please Login", new_session_path, class: "btn btn-default" %>
    <% flash.each do |name, message| %>
      <div class="flash-message flash-message-<%= name %>">
        <div class="alert alert-danger" role="alert">
          <%= message %>
        </div>
    <% end %> <!-- end for flash.each -->
      </div>
  <% end %> <!-- end for current_user -->
  </footer>
</div> <!-- end for container -->
</body>
</html>
